# IDEs
.idea/

# Hugo
/resources/
public/
*.DS_Store

# LaTeX build artifacts
static/files/*.aux
static/files/*.fdb_latexmk
static/files/*.fls
static/files/*.log
static/files/*.out
static/files/*.synctex.gz
texput.log