{{ $item := . }}

{{/* Dynamic view adjusts to content type. */}}
{{ $show_authors_only := false }}{{/* Show authors only or full metadata? */}}
{{ $show_buttons := false }}
{{ $link := $item.RelPermalink }}
{{ $target := "" }}
{{ if $item.Params.external_link }}
  {{ $link = $item.Params.external_link }}
  {{ $target = "target=\"_blank\" rel=\"noopener\"" }}
{{ end }}
{{ if eq $item.Type "event" }}
  {{ $show_authors_only = true }}
  {{ $show_buttons = true }}
{{ else if eq $item.Type "publication" }}
  {{ $show_authors_only = true }}
  {{ $show_buttons = true }}
{{ else if eq $item.Type "project" }}
  {{ $show_authors_only = true }}
  {{ $show_buttons = true }}
{{ end }}

{{/* Get summary. */}}
{{ $summary := "" }}
{{ if $item.Params.summary }}
  {{ $summary = $item.Params.summary | markdownify | emojify }}
{{ else if $item.Summary }}
  {{ $summary = $item.Summary }}
{{ end }}

<div class="media stream-item">
  <div class="media-body">

    <h3 class="article-title mb-0 mt-0">
      {{ if $item.Params.nolink }}{{ $item.Title }}{{ else }}<a href="{{$link}}" {{ $target | safeHTMLAttr }}>{{ $item.Title }}</a>{{ end }}
    </h3>

    {{ with $summary }}
    {{ if $item.Params.nolink }}
    <div class="article-style">
      {{.}}
    </div>
    {{ else }}
    <a href="{{ $link }}" {{ $target | safeHTMLAttr }} class="summary-link">
      <div class="article-style">
        {{.}}
      </div>
    </a>
    {{ end }}
    {{ end }}

    <div class="stream-meta article-metadata">

      {{ if eq $item.Type "event" }}
      <div>
        <span>
          {{ partial "functions/get_event_dates" $item }}
        </span>
        {{ with $item.Params.location }}
        <span class="middot-divider"></span>
        <span>{{ . }}</span>
        {{ end }}
      </div>
      {{ end }}

      {{ if and $show_authors_only $item.Params.authors }}
      <div>
        {{ partial "page_metadata_authors" $item }}
      </div>
      {{ else if not $show_authors_only }}
        {{ partial "page_metadata" (dict "page" $item "is_list" 1) }}
      {{ end }}
    </div>

    {{ if $show_buttons }}
    <div class="btn-links">
      {{ if $item.Params.abstract }}
      <a class="btn btn-outline-primary my-1 mr-1 btn-sm btn-abstract" href="#" role="button" aria-expanded="false">
        Abstract
      </a>
      {{ end }}
      {{ partial "page_links" (dict "page" $item "is_list" 1) }}
    </div>
    {{ end }}

    {{ with $item.Params.abstract }}
    <div class="paper-abstract-collapse">
      <div class="article-style paper-abstract">
        {{ . | markdownify | emojify }}
      </div>
    </div>
    {{ end }}

  </div>
  <div class="ml-3">
    {{ $resource := ($item.Resources.ByType "image").GetMatch "*featured*" }}
    {{ with $resource }}
    {{ $filters := slice (images.GaussianBlur 21) (images.Pixelate 8) }}
    {{ $image := .Resize "150x" }}
    {{ $image_lq := (.Resize "150x q1").Filter $filters }}
    <a href="{{$link}}" {{ $target | safeHTMLAttr }}>
      <img src="{{ $image_lq.RelPermalink }}" data-src="{{ $image.RelPermalink }}" alt="{{ $item.Title }}" class="lazyload">
    </a>
    {{end}}
  </div>
</div>
